<mat-card class="margin">
  <mat-card class="example-card">
    <mat-card-content>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <img
                mat-card-image
                class="icon-img"
                src="https://icon-library.com/images/icon-address/icon-address-24.jpg"
                alt="Email"
              />
            </td>
            <td>
              <img
                mat-card-image
                class="map-img"
                src="https://book-cover-kashif.s3.ap-south-1.amazonaws.com/map.png"
                alt="map"
              />
            </td>
          </tr>

          <tr>
            <td>
              <img
                class="icon-img"
                mat-card-image
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/765px-WhatsApp.svg.png"
                alt="WhatsApp"
              />
            </td>
            <td>(372) 587-2335</td>
          </tr>
          <tr>
            <td>
              <img
                class="icon-img"
                mat-card-image
                src="https://cdn.iconscout.com/icon/premium/png-512-thumb/email-2030737-1713377.png"
                alt="Email"
              />
            </td>
            <td>(372) 587-2335</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</mat-card>
